**/__pycache__/
.vscode

# virtual environment
pet-diary-venv/

# get debug output here
logging_output/

# lambda deployment packages
lambda_packages/

# created by sam build
.aws-sam

# created by pytest coverage reports
coverage/
.coverage

# Put experimental stuff in here, it's sleeping
zzz/

# space for dev notes
notes/

# The actual template you will use to deploy your app
# Doiung it this way keeps your email off other peoples project (wouldn't want random reminders from someone elses project getting through to you)
app_template.yaml
