**/__pycache__/
.vscode

# virtual environment
pet-diary-venv/

# get debug output here
logging_output/

# lambda deployment packages
lambda_packages/

# created by sam build
.aws-sam

# created by pytest coverage reports
coverage/
.coverage

# Put experimental stuff in here, it's sleeping
zzz/

# space for dev notes
notes/
